/** Styling of detailed transfer overview */
.transfer-detail {
  /** Stack the details one after another */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 10px;

  /** Small borderless copy icon */
  .copy-button {
    width: 20px;
    height: 20px;

    margin: 0;
    margin-left: 5px;
    --padding-start: 0;
    --padding-end: 0;

    --background: transparent;
    color: var(--ion-color-primary-10);
    font-size: 20px;
  }
}
