.account-selection {
  /* Shift popovers to have vertical padding relative to trigger element */
  top: 8px;

  /**
   * Add a frame to the selection menu and round the corners
   */
  ion-select-popover {
    border: 1px solid var(--ion-select-border) !important;
    border-radius: 4px;
  }

  /*
   * Ensures that selection menu is small enough to fit
   * under the selection button
   */
  ion-list {
    border-radius: 3px;
    max-height: 120px;
    overflow: scroll;
  }
}
