ion-toggle {
  padding: 12px;
  padding-top: 5px;
  --background: #e8e0eb;
  --background-checked: #7444b6;

  --handle-background: #fff;
  --handle-background-checked: #fff;
}

.toggle-wrapper {
  width: 20% !important;
  /* Tablets (768px - 991px) */
  @media only screen and (min-width: 768px) {
    /* Styles for tablets */
    width: 10% !important;
  }
}
