.nft-image-big::part(image) {
  border-radius: 20px;
}

.nft-img-size::part(image) {
  width: '100%';
  height: '100%';
}

.nft-image-small::part(image) {
  border-radius: 10px;
}

.chip-big {
  background: none;
  border: 1px solid #c297ff;
  color: #c297ff;
  border-radius: 5px;
  padding: 0px 16px;
  height: 24px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.chip-small {
  background: none;
  border: 1px solid #c297ff;
  color: #c297ff;
  border-radius: 5px;
  padding: 0px 8px;
  height: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
