/**  Layout style for all public pages */
.public-layout {
  /** Main content is slightly narrowed */
  & > .content {
    padding: 0 24px;
    overflow: scroll;
  }

  /** Anchor the footer at bottom of page */
  & > .footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
