/**  Layout style for all public pages */
.public-layout {
  /** Main content is slightly narrowed */
  & > .content {
    padding: 0 32px;
    overflow: scroll;
  }

  /** Anchor the footer at bottom of page */
  & > .footer {
    margin: auto;
    margin-bottom: 16px;
  }
}
