/**
 * Popover is stretched to fit languages
 */
.language-popover {
  --max-width: fit-content;

  ion-list {
    background-color: var(--ion-color-dark-contrast);
  }
}

.language-button {
  /* Padding removed around button  */
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;

  /* Dark colouring  */
  color: var(--ion-color-primary-10);
  --background-hover: none;
  --ripple-color: transparent;
}
