.middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  --ion-grid-column-padding: 1px;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
}

.nft-layout {
  text-align: -webkit-center;
}

*::-webkit-scrollbar {
  display: none;
}
