.middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.logged-middle {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-label {
  font-family: 'Nunito Sans', serif;
  font-size: 10px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #290056;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}
