.middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.logged-middle {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}
