.ion-grid-gap-lg {
  gap: 18px;
}

.ion-grid-gap,
.ion-grid-gap-md {
  gap: 16px;
}

.ion-grid-gap-sm {
  gap: 14px;
}

.ion-grid-gap-xs {
  gap: 12px;
}

.ion-grid-row-gap-xxxl {
  row-gap: 40px;
}

.ion-grid-row-gap-xxl {
  row-gap: 32px;
}

.ion-grid-row-gap-xl {
  row-gap: 24px;
}

.ion-grid-row-gap-lg {
  row-gap: 18px;
}

.ion-grid-row-gap,
.ion-grid-row-gap-md {
  row-gap: 16px;
}

.ion-grid-row-gap-sm {
  row-gap: 14px;
}

.ion-grid-row-gap-xs {
  row-gap: 8px;
}

.ion-grid-row-gap-xxs {
  row-gap: 4px;
}

.ion-grid-column-gap-xs {
  --ion-grid-column-padding: 8px;
}
