@use 'typography';

ion-select {
  border: 1px solid var(--ion-select-border);
  border-radius: 8px;

  /** The text in the selection box */
  &::part(placeholder),
  &::part(text) {
    @extend %heading-shared;
    font-size: 14px;
    font-family: 'Nunito Sans';
  }

  /** Dropdown arrow on the right side of the menu */
  &::part(icon) {
    color: var(--ion-color-dark);
    opacity: 1;
  }
}
