.ion-grid-gap-lg {
  gap: 1.125rem; // 18px
}

.ion-grid-gap,
.ion-grid-gap-md {
  gap: 1rem; // 16px
}

.ion-grid-gap-sm {
  gap: 0.875rem; // 14px
}

.ion-grid-gap-xs {
  gap: 0.75rem; // 12px
}

.ion-grid-row-gap-lg {
  row-gap: 1.125rem; // 18px
}

.ion-grid-row-gap,
.ion-grid-row-gap-md {
  row-gap: 1rem; // 16px
}

.ion-grid-row-gap-sm {
  row-gap: 0.875rem; // 14px
}

.ion-grid-row-gap-xs {
  row-gap: 0.75rem; // 12px
}
