$image: var(--main-image);

.welcome-img {
  content: $image;
  width: 144px;
  height: 210px;
  margin-top: 40px;
}

/** Small version used when space is limited */
.welcome-img-small {
  content: $image;
  width: 96px;
  height: 140px;
  margin-top: 14px;
}

ion-checkbox {
  --size: 24px;
  --checkbox-background-checked: #7444b6;
}

ion-checkbox::part(container) {
  border-radius: 8px;
  padding: 4px;
  border: 2px solid #7b757f;
}
