ion-checkbox {
  --size: 24px;
  --checkbox-background-checked: #1b00b3;
}

body.dark {
  ion-checkbox {
    --size: 24px;
    --checkbox-background-checked: var(--ion-color-primary);
    --checkmark-color: var(--ion-color-primary-10);
  }
}

ion-checkbox::part(container) {
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #7b757f;
}
