.parent {
  vertical-align: bottom;
}

.main {
  background: #f3f5f6;
}

.logo {
  width: 102px;
  height: 50px;
}

.logo-web {
  margin-top: 10px;
  width: 78px;
  height: 38px;
}

.main-img {
  width: 231px;
  height: 288px;
  margin-top: 30px;
}

.main-img-web {
  width: 140px;
  height: 209px;
}

.main-wrapper {
  width: 304px;
}

.ion-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-item-account {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  --box-shadow: none;
  --min-height: 40px;
  --border: none;
  --color: #290056;
}
