.acns-icon {
  width: 24px;
  height: 24px;
  margin: 0;
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --background-activated: transparent;
  color: var(--ion-logged-header);
}

ion-modal#settings-model {
  --width: 333px;
  --height: 341px;
  --border-radius: 16px;
  --background: #fff;
  align-items: center;
}

.settings-toast {
  --background: #41cc9a;
  --border-radius: 8px;
  --width: 350px;
  padding: 8px 49px;
  font-size: 14px;
  font-family: Nunito Sans, serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.settings-segment {
  background: transparent;
  border-radius: 0;
}

.settings-segment-button {
  background: transparent;
  --indicator-box-shadow: none;
  border-bottom: 2px solid #d9d9d9;
  border-radius: 0;
  --indicator-color: transparent;
}

.settings-segment-button::part(indicator) {
  border-bottom: 2px solid #c297ff !important;
}
