ion-alert.custom-alert {
  color: var(--ion-color-danger-contrast);
  --background: var(--ion-color-danger);
}

ion-note {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
}
