.styled-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 64px;
  --background: transparent;
  --box-shadow: none;
}

.styled-label {
  font-family: 'Nunito Sans', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px !important;
  height: 16px !important;
  min-height: 16px;
  margin-bottom: 8px !important;
  padding: 0;
  --color: #290056 !important;
}

.styled-input {
  min-height: 40px;
  max-height: 40px;
  height: 40px;
  font-family: 'Nunito Sans', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  --padding-start: 16px !important;
  --padding-top: 6px;
  --padding-bottom: 6px;
  --min-height: none;
  --color: #290056;
  --placeholder-color: #ccc4cf;
  --placeholder-font-style: normal;
  --placeholder-font-weight: 400;
  border: 1px solid #958e99;
  border-radius: 8px;
}

.styled-item-horizontal {
  border: 1px solid #958e99;
  border-radius: 8px;
  --padding-start: 0;
  --inner-padding-end: 0;
  --min-height: 40px;
  height: 40px;
  width: 270px;
}

.styled-label-horizontal {
  margin: 0;
  font-family: 'Nunito Sans', serif;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  width: 72px;
  height: 40px;
  --color: #ffffff !important;
  --min-height: 100%;
  background: #7444b6;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield !important;
}

.styled-input-horizontal {
  height: 40px;
  width: 100px;
  font-family: 'Nunito Sans', serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  --min-height: none;
  --color: #290056;
}

.fail {
  border: 1px solid red;
}

.help-text-horizontal {
  width: 100%;
  font-family: 'Nunito Sans', serif;
  color: #de3730;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #de3730;
  padding: 0px 8px 0px 16px;
  height: 22px;
}

.help-text-horizontal-placeholder {
  width: 100%;
  font-family: 'Nunito Sans', serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0px 8px 0px 16px;
  height: 22px;
}

.help-text {
  margin-top: 20px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px 6px 16px;
  border-radius: 8px;
  border: 1px solid #de3730;
  align-self: stretch;
  font-family: 'Nunito Sans', serif;
  font-style: normal;
  font-weight: 700;
  color: #de3730;
  font-size: 12px;
  line-height: 16px;
}
