.progress-bar {
  height: 6px;
  border-radius: 25px;
}

.wallet-address-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eddcff;
  border-radius: 100px;
  width: 270px;
  height: 40px;
  font-family: 'Nunito Sans', serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
}

ion-backdrop {
  opacity: 0.95;
  background: var(--ion-background-color);
}
