/* nunito-sans-200 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src:
    local(''),
    url('/assets/fonts/nunito-sans-v12-latin-200.woff2') format('woff2'),
    url('/assets/fonts/nunito-sans-v12-latin-200.woff') format('woff');
}
/* nunito-sans-300 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src:
    local(''),
    url('/assets/fonts/nunito-sans-v12-latin-300.woff2') format('woff2'),
    url('/assets/fonts/nunito-sans-v12-latin-300.woff') format('woff');
}
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/nunito-sans-v12-latin-regular.woff2')
      format('woff2'),
    url('/assets/fonts/nunito-sans-v12-latin-regular.woff')
      format('woff');
}
/* nunito-sans-600 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('/assets/fonts/nunito-sans-v12-latin-600.woff2') format('woff2'),
    url('/assets/fonts/nunito-sans-v12-latin-600.woff') format('woff');
}
/* nunito-sans-700 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/nunito-sans-v12-latin-700.woff2') format('woff2'),
    url('/assets/fonts/nunito-sans-v12-latin-700.woff') format('woff');
}
/* nunito-sans-800 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src:
    local(''),
    url('/assets/fonts/nunito-sans-v12-latin-800.woff2') format('woff2'),
    url('/assets/fonts/nunito-sans-v12-latin-800.woff') format('woff');
}
/* nunito-sans-900 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/nunito-sans-v12-latin-900.woff2') format('woff2'),
    url('/assets/fonts/nunito-sans-v12-latin-900.woff') format('woff');
}
